.bg-color{
    background-color:$rosa-1;
     
}
// Color texto marca menú
.navbar-light .navbar-brand {
    color:rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}


